@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;600;700&display=swap');

/* ESTILOS GENERALES */
:root{
    --color-primario:#025157;
    --color-secundario:#67b54b;
    --color-terciario:#8b8b8bcc; 

    --font-secondary:'Alegreya', serif;
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
p{
    line-height: 1.5;
    font-weight: 300;
}
.form{
    display: flex;
}
.form--main-text{
    justify-content: center;
}
input[type=email],.btn{
    padding: 1.2em;
    font-size: 1.6rem;
    border: none;
}
input[type=email] {
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--color-terciario);
}
.btn{
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    list-style: none;
}

body{
    background-color: #fffbf7;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    color: #025157;
    font-family: 'Alegreya', serif;
    margin-top: 0;
}
h2{
    font-size: 4.6rem;
    line-height: 1;
}
.contenedor{
    max-width: 140rem;
    width: 90%;
    margin:0  auto;
}
/* COMPONENTES */
.text-center{
    text-align: center;
}
.mb-5{
    margin-bottom: 5rem;
}
/* HEADER */
header{
    background-color:#fffbf7;
    position: sticky; 
    top: 0;
    z-index: 1;
}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
}
.header__navbar{
    display: flex;
    gap: 1.5rem;
    color: #025157;
}
.action_sign-in{
    color: #67b54b;
    margin-right: 0.85em;
}
.action__btn{
    background-color: #67b54b;
    color: #fff;
    padding:1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* MAIN-TEXT-CONTENEDOR */
.main-text-contenedor{
    font-size: 1.7rem;
}
.other-font{
    font-family: 'Alegreya', serif;
}
.title{
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 1.5rem;
}
.parrafo-abajo{
    color: #46484c;
}
.text--gray{
    color: var(--color-terciario);
}
.btn{
    color: #fff;
    background-color: #025157;
} 

.imagen-main{
    max-width: 250px;
    margin: 0 auto;
}
/* SECCION VIDEO */
.video-contenedor{
    margin:5rem 0;
}

.flex-contenedor{
    display: flex;
    flex-direction:row ;

    justify-content:center;
    align-items: center;
    gap:2rem;

    width: 70%;
    margin: 0 auto;
}
.video{
    max-width: 500px;
}
.video__imagen{
    height: 70px;
    margin: 0 auto;
}
.video__descripcion{
    flex-basis: 50%;
    font-weight: 300;
}
/* BRANDS */
.brands{
    background-color: #a1d683;
    font-weight: 300;
    padding-top: 7rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}
.brands__grid{
    display: grid;
    grid-template-columns: minmax(320px,500px) minmax(300px, 350px);
    justify-content: center;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
}
.brands__brand-container{
    max-width: 450px;
}
.brands__brand-container img{
    aspect-ratio: 3/2;
    object-fit: contain;
    
}
.brands__description > *{
    margin-bottom: 2rem;
}
.btn--brands{
    border-radius: 10px;
}
.card{
    display: grid;
    grid-template-rows: 300px 1fr;
    background-image: url('/assests/img/persona.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top center;
    border-radius: 10px;
    overflow: hidden;

    position: relative;
}

.card__description{
    grid-row: 2;
    background-color:#fff;
    padding: 1.5rem;
}
.card__text--primary{
    color: #025157;
    font-weight: 600;
    font-size: 1.7rem;
}
.card__title{
    font-size: 2.5rem;
    margin-top: 1rem;
}
.card__text{
    font-size: 1.6rem;
}
.card__text--secondary{
    color: var(--color-terciario);
    width: 80%;
    margin-bottom:2rem;
    display: flex;
    justify-content: space-between;
}
.shop-icon{
    background-image: url('../assests/img/shopping-card.svg');
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    display: block;
    margin-right: 10px;
}
.card__btn{
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.circule__absolute{
    background-color: #f4d53f;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: cornflowerblue;
    font-weight: 800;
    padding: 1rem;
    display: grid;
    place-content: center;

    position: absolute;
    top: 250px;
    left: 70%;
}
.circule__absolute p{
    margin: 0;
}
.how-works{
    text-align: center;
    margin-bottom: 5rem;
}
.how-works__heading{
    margin: 1.2rem;
}
.btn--primary{
    border-radius: 10px;
    margin-bottom: 4rem;
}
.how-works__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;

    width: 80%;
    margin: 0 auto;
}   
.feautes{
    padding-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;

    display: grid;
    grid-template-rows: 1fr 300px;
}

.features__img img{
    aspect-ratio: 3/2;
    object-fit: cover;
}
.feature__heading{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.feature__description{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.feature__link{
    margin-top: auto;
    font-weight: 300;
    color: #67b54b;
    transition: backgroud-color 0.2s;
}
.feature__link:hover{
    color: #a1d683;
}
.icon-arrow{
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
}
.icon-arrow--white{
    color: #fff;
}