@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;600;700&display=swap');

/* ESTILOS GENERALES */
:root{
    --color-primario:#025157;
    --color-secundario:#67b54b;
    --color-terciario:#8b8b8bcc; 
    --blanco:#fff; 

    --font-primary:'Open Sans', sans-serif;
    --font-secondary:'Alegreya', serif;

    --f-small:3rem; 
    --f-medium:4.5rem; 
    --f-l:5rem; 
    --f-lx:6rem; 
}
*,*::before,*::after{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
p{
    line-height: 1.5;
    font-weight: 300;
}
.form{
    display: flex;
    align-items: center;
}
@media (max-width:400px){
    .form{
        align-items: stretch
    }
}

.form--main-text{
    width: 100%;
    justify-content: center;
}
input[type=email],.btn{
    padding: 12px;
    font-size: 1.6rem;
    border: none;
}
input[type=email] {
    border-radius: 10px 0 0 10px;
    border: 1px solid var(--color-terciario);
}
.btn{
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.btn:hover,.card__btn:hover{
    background-color: hsl(184, 58%, 27%);
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding: 0;
    list-style: none;
}

body{
    background-color: #fffbf7;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3{
    color: #025157;
    font-family: 'Alegreya', serif;
    margin-top: 0;
}
h2{
    font-size: 4.6rem;
    line-height: 1;
}
.contenedor{
    max-width: 140rem;
    width: 90%;
    margin:0  auto;
}
/* COMPONENTES */
.text-center{
    text-align: center;
}
.mb-5{
    margin-bottom: 5rem;
}
/* HEADER */
header{
    background-color:#fffbf7;
    position: sticky; 
    top: 0;
    z-index: 1;
}
.header__flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
}
.header__logo{
    width: 5.5rem;
    min-width: 5rem; 
}
.header__navbar{
    display: flex;
    gap: 1.5rem;
    color: #025157;
}
.action_sign-in{
    color: #67b54b;
    margin-right: 0.85em;
}
.action__btn{
    background-color: #67b54b;
    color: #fff;
    padding:1em;
    border-radius: 5px;
    border: none;
}
.action__btn,.btn{
    transition-duration: 0.3s;
    transition-property: background-color;
}

.action__btn:hover{
    cursor: pointer;
    background-color: #a1d683;
}
/* MAIN-TEXT-CONTENEDOR */
.main-text-contenedor{
    font-size: 1.7rem;
}
.other-font{
    font-family: 'Alegreya', serif;
}
.title{
    font-weight: 700;
    font-size: 6rem;
    margin-bottom: 1.5rem;
}
.parrafo-abajo{
    color: #46484c;
}
.text--gray{
    color: var(--color-terciario);
}
.btn{
    color: #fff;
    background-color: #025157;
} 

.imagen-main{
    max-width: 250px;
    margin: 0 auto;
}
/* SECCION VIDEO */
.video-section{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
@media (min-width:768px) and (max-width:900px){
    video{
        width: 320px;
    }
    .video-section .form{
        flex-direction: column;
        align-items: stretch;
    }
    .video-section input[type=email],
    .video-section button{
        border-radius: 10px;
    }
    .video-section button{
        margin-top: 1rem;
        width: 180px;
        align-self: center;
    }
}

.flex-contenedor{
    display: flex;
    flex-direction:row ;

    justify-content:center;
    align-items: center;
    gap:2rem;

    width: 90%;
    margin: 0 auto;
}
.video{
    max-width: 500px;
}
.video__imagen{
    height: 70px;
    margin: 0 auto;
}
.video__descripcion{
    flex-basis: 50%;
    font-weight: 300;
}
/* BRANDS */
.brands{
    background-color: #a1d683;
    font-weight: 300;
    padding-top: 7rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}
.brands__grid{
    display: grid;
    grid-template-columns: minmax(320px,500px) minmax(300px, 350px);
    justify-content: center;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
}
.brands__brand-container{
    max-width: 450px;
}
.brands__brand-container img{
    aspect-ratio: 3/2;
    object-fit: contain;
    
}
.brands__description > *{
    margin-bottom: 2rem;
}
.btn--brands{
    border-radius: 10px;
}
.card{
    display: grid;
    grid-template-rows: 300px 1fr;
    background-image: url('/assests/img/persona.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card__description{
    grid-row: 2;
    background-color:#fff;
    padding: 1.5rem;
}
.card__text--primary{
    color: #025157;
    font-weight: 600;
    font-size: 1.7rem;
}
.card__title{
    font-size: 2.5rem;
    margin-top: 1rem;
}
.card__text{
    font-size: 1.6rem;
}
.card__text--secondary{
    color: var(--color-terciario);
    width: 80%;
    margin-bottom:2rem;
    display: flex;
    justify-content: space-between;
}
.shop-icon{
    background-image: url('../assests/img/shopping-card.svg');
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    display: block;
    margin-right: 10px;
}
.card__btn{
    background-color: var(--color-primario);
    color: #fff;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}
.circule__absolute{
    background-color: #f4d53f;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: cornflowerblue;
    font-weight: 800;
    padding: 1rem;
    display: grid;
    place-content: center;

    position: absolute;
    top: 250px;
    left: 70%;
}
.circule__absolute p{
    margin: 0;
}
.how-works{
    text-align: center;
    margin-bottom: 5rem;
}
.how-works__heading{
    margin: 1.2rem;
}
.btn--primary{
    border-radius: 10px;
    margin-bottom: 4rem;
}
.how-works__grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;

    width: 80%;
    margin: 0 auto;
} 
@media (min-width:560px) and (max-width:900px){
    .how-works__grid{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    }
}

.feautes{
    padding-top: 1rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;

    display: grid;
    grid-template-rows: 1fr 300px;
}

.features__img img{
    aspect-ratio: 3/2;
    object-fit: cover;
}
.feature__heading{
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.feature__description{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}
.feature__link{
    margin-top: auto;
    font-weight: 300;
    color: #67b54b;
    transition: backgroud-color 0.2s;
}
.feature__link:hover{
    color: #a1d683;
}
.icon-arrow{
    vertical-align: middle;
    display: inline-block;
    margin-left: 3px;
}
.icon-arrow--white{
    color: #fff;
}

/* CARACTERISTICAS */
.caract{
    background-color: var(--color-primario);
    font-weight: 300;
    padding: 5rem 0;
    overflow: hidden;
}
.caract__grid{
    width: 90%;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    place-content: center;
}

@media (max-width:768px){
    .caract__grid{
        display: flex;
        flex-direction: column;
    }
}

.caract__card{
    background-color:var(--blanco);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #000;
    padding:2em 0 2em 2.5em; 
    display: flex;
    align-items: center;
    gap: 1.5rem;

    min-width: 300px;
}

@media (max-width:768px){
    .caract__card{
        flex-direction: column;
        padding: 1em;
        
    }
}
.caract__desc{
    max-width: 40ch;
}
.caract__heading{
    color: #000;
    font-weight: 400;
    font-family: var(--font-primary); 
    font-size: 3.0rem;
    line-height: 1.3;
}
.caract__img{
    /* background-color: lightskyblue; */
    width: 200px;
}
.caract__img img{
    object-fit: cover;
    /* box-shadow: -1px 1px 5px #dcdcdc; */
    /* border-radius: 2px; */
}
.feature__link--bold{
    font-weight: 600;
}
@media (max-width:768px){
    .feature__link{
        display: block;
        text-align: center;
    }
}