$color-primario:#025157; 
$color-secundario:#67b54b; 
$blanco: #fff; 
$verde-claro:#a1d683; 

$font-primary:'Open Sans', sans-serif;
$font-secondary:'Alegreya', serif; 

.free-trial{
    background-color: $verde-claro; 
    padding: 2rem 0;

    .contenedor{
        .free-trial__heading{
            font-size: 4rem;
            text-align: center;
        }
        .free-trial__p{
            color: $blanco;
            text-align: center;
            font-size: 1.4rem;

            .free-trial__p--bold{
                font-weight: 600;
            }
        }
    }
    
}

